@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  background: radial-gradient(hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 100%)
    no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

// header
.head {
  border: 2px solid #fff;
  margin-top: 4rem;
  width: 600px;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  border-radius: 1.5rem;

  &__title {
    width: 20%;

    & h1 {
      text-transform: uppercase;
      color: #fff;
      font-size: 2.5rem;
      font-weight: 700;
    }
  }

  &__score {
    background: #fff;
    padding: 1rem 4rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .label {
      font-size: 2.1rem;
      color: hsl(229, 64%, 46%);
      text-transform: uppercase;
      font-weight: 600;
    }

    & .score {
      font-size: 3.3rem;
      color: hsl(229, 25%, 31%);
    }
  }
}

.choices {
  margin-top: 8rem;
  list-style: none;
  position: relative;
  width: 550px;
  height: 450px;

  // @media (max-width: 750px) {
  //   // margin-top: 20rem;
  //   width: 450px;
  // }

  &__choice {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 20px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    & img {
      width: 70px;
    }
  }
  &__choice:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
    border-color: hsl(230, 89%, 62%);

    &::after {
      content: "";
      position: absolute;
      display: block;
      height: 2rem;
      width: 25rem;
      background: hsl(229, 25%, 31%);
      top: 8rem;
      left: 13rem;
      z-index: -1;
    }
  }
  &__choice:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
    border-color: hsl(39, 89%, 49%);
    &::after {
      content: "";
      position: absolute;
      display: block;
      height: 2rem;
      width: 25rem;
      background: hsl(229, 25%, 31%);
      bottom: 0;
      left: -10rem;
      z-index: -1;
      transform: rotate(120deg);
    }
  }
  &__choice:nth-child(3) {
    position: absolute;
    left: 160px;
    bottom: 0;
    // border-color: hsl(349, 71%, 52%);
    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 2rem;
      width: 25rem;
      background: hsl(229, 25%, 31%);
      top: 0;
      left: -10rem;
      z-index: -1;
      transform: rotate(-120deg);
    }
  }
}

.answers {
  position: relative;
  margin-top: 11rem;
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  &__player,
  &__computer {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 20px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.results {
  display: none;
  flex-direction: column;
  align-items: center;
  & .result {
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 0.4rem;
  }

  & .btn {
    margin-top: 1.7rem;
    padding: 1.5rem 3.5rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: hsl(229, 25%, 31%);
  }
}

.rock {
  border: 20px solid hsl(349, 71%, 52%);
}

.scissors {
  border: 20px solid hsl(39, 89%, 49%);
}

.paper {
  border: 20px solid hsl(230, 89%, 62%);
}

.answer-player,
.computer-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.answer-player div,
.computer-answer div {
  margin-top: 8rem;
}
.answer-player h2,
.computer-answer h2 {
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3rem;
}
.answers__heads {
  margin-left: 7rem;
  width: 85%;
  display: flex;
  position: absolute;
  top: -6rem;
  justify-content: space-between;
}

.answers__heads h2 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.answers__heads:nth-last-child() {
  margin-left: 2.2rem;
}

.waiting-circle {
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  animation: grow 2s infinite;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
    opacity: 0.3;
  }

  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}

.settings {
  position: absolute;
  bottom: 0;
  margin-bottom: 4rem;
  right: 7rem;

  & button {
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 1rem 2.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 2rem;

    &:hover {
      background: #fff;
      color: #1f3756;
    }

    &:focus {
      outline: none;
    }
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 2rem 5rem;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  height: 60%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -8rem;
  left: 34%;

  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h3 {
      font-size: 4rem;
      text-transform: uppercase;
      color: #1f3756;
    }

    & span {
      font-size: 5rem;
    }
  }

  & img {
    margin-top: auto;
    margin-bottom: 4rem;
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}
